@import 'variables';
@import 'fonts';

/* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */	

a{
	text-decoration:none;
}

header{

		text-align:center;

		img{
			width:400px;
			margin:-30px 0 -30px 0;

		}
	}

body{
	background-color: white;
	position:relative;
}

.navigation{

	text-align:center;
	position:relative;
	background: #fff;
	margin-bottom: -70px;
	z-index:200;


	a{
		padding:0 8px 0 8px;
		text-decoration:none;
		color:black;
		font-family: $campton-light, Arial, Helvetica, sans-serif;
	}
}

#line{
	box-shadow:0px 1px 1px #bfbfbf;
	margin-top:10px;

	img{
		margin-bottom:-31px;
		width:50px;
	}
}

.header, .navigation-scrolled{
	position: fixed;
  	width: 100%;
  	top: 0;
}

.line{
	border-bottom:1px solid #eaeaea;
	width:80%;
	margin: 50px auto;
}

.footer{
	
	background-color:#f0f1f2;

	h2{
		text-transform:uppercase;
		font-family: $campton-light;
		text-align:center;
		padding: 50px 0 0 0;
	}

	span{
		font-family: $campton-bold;
		color:black;
		text-decoration:none;
	}

	p{
		font-family: $campton-light;
		text-align:center;
	}

	img{
		width:35px;
		display:inline-block;
		margin:0 0 30px 10px;

	}

}

.footer-social{
	text-align:center;
}

.copyright{
	background-color:$secondary-color;
	height:30px;

	p{
		color:white;
		font-size:.8em;
		padding:10px 0 0 10px;
		text-align:left;
	}

	span{
		font-family:'arial';
		color:white;
	}
}

/* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */

.homepage-main{
	

	.main-background-color{
		background-color:#f0f1f2;
		height:550px;
		margin-top:10px;
	}

	h1{
		text-align:center;
		font-family: $campton-bold;
		color:$primary-color;
		font-size:1.8em;
		margin: 160px 0 80px 0;
	}

	h2{
		font-size:1em;
		text-align:center;
	}


}

.homepage-services{
	width:70%;
	margin:0 auto;

	img{
		width:100px;
		margin-left:50%;
		background-color:$secondary-color;
		padding:10px;
		border-radius:10%;

	}

	p{
		text-align:center;
		margin:20px 0 0 55px;
		width:100%;
	}

	:hover{
		text-decoration:underline;
	}

	h2{
		font-size:1.2em;
		font-family:$campton-light;
		margin:280px 0 50px -20px;
	}
	h2:hover{
		text-decoration:none;
	}
}

/* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */

   .services-main{
	
		h1{
			text-align:center;
			font-family: $campton-bold;;
			color:$primary-color;
			font-size:3em;
			margin: 140px 0 30px 0;
		}

		h2{
			font-size:1.2em;
			text-align:center;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			padding: 0 5px 0 5px;

		}



	}

	.service-page-services{
		
		h3{
			font-family: $campton-bold;
			margin:30px 0 0 120px;
		}

		p{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			width:250px;
			margin:10px 0 0 120px;
		}

		img{
			width:100px;
			float:left;
			margin:30px 0 0 0;
			background-color:$secondary-color;
			border-radius:10%;
		}

	}

	.services-packages{
		margin: 40px 0 0 0;
		text-align:center;
		position:relative;
	}

	.package-title{

		h2{
			font-size:2em;
			font-family: $campton-bold;
			color:$primary-color;
			margin:50px 0 0 0;
		}

		h3{
			font-family: $campton-light;
		}
	}

	.all-packages{
		position:relative;
		height:400px;
		width:250px;
		margin:50px 0 0 15%;

		background-color:#f0f1f2;
		z-index:100;
	}

	#paid-package-1{

		img{
			width:60px;
			position:absolute;
			top:-30px;
			left:95px;
		}

		h2{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			font-size:1.5em;
			text-align:center;
			background-color:$light-blue-color;
			height:50px;
			padding:40px 0 0 0;
			color:white;
		}

		p{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			padding:0 15px 0 15px;
		}
	}

	#paid-package-2{

		img{
			width:60px;
			position:absolute;
			top:-30px;
			left:95px;
		}

		h2{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			font-size:1.5em;
			text-align:center;
			background-color:$primary-color;
			height:50px;
			padding:40px 0 0 0;
			color:white;
		}

		p{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			padding:0 15px 0 15px;
		}
	}

	#paid-package-3{

		img{
			width:60px;
			position:absolute;
			top:-30px;
			left:95px;
		}

		h2{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			font-size:1.5em;
			text-align:center;
			background-color:$secondary-color;
			height:50px;
			padding:40px 0 0 0;
			color:white;
		}

		p{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			padding:0 15px 0 15px;
		}
	}

/* ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US 
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US     */

	.about-us-main{
		
		h1{
			text-align:center;
			font-family: $campton-bold;
			color:$primary-color;
			font-size:2.2em;
			margin: 140px 0 40px 0;
		}

		h2{
			font-size:1em;
			text-align:center;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
		}

	}
	.about-us-body{
		text-align:Center;

		img{

		}

		h2{
			font-size:1em;
			text-align:center;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
		}

	}

/* CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	
   CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	
   CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	*/

	.contact-main{

		width:90%;
		text-align:center;
		margin:0 auto;

		h1{

			font-family: $campton-bold;
			color:$primary-color;
			font-size:3em;
			margin: 140px 0 40px 0;
		}

		h2{
			font-size:1.1em;
			text-align:left;
			margin:0 5px;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
		}

		#message-gif{
			margin:0 0 0 -5px;
			padding:0;
		}

	}

	.contact-form{

		width:90%;
		text-align:center;
		margin:0 auto;

		h2{
			text-align:center;
			font-family:$campton-bold;
		}

		p{
			margin:5px;
			font-family:$campton-light;
			text-align:left;
		}

		input{
			margin:15px 0 0 10px;
			font-family: $campton-light;
		}

		textarea{
			margin:15px 0 0 10px;
			font-family: $campton-light;
			height:200px;

		}

		button{
			background-color:$secondary-color;
			border:none;
			color:white;
			font-family:$campton-light;
			padding:10px;
			border:1px solid $secondary-color;
			margin:20px 0 0 0;
		}

		button:hover{
			color:$secondary-color;
			background-color:white;
			border:1px solid $secondary-color;

		}
		.contact-text-fields {
		  position: relative;
		  color: #aaa;
		  font-size: 16px;
		}

		.contact-text-fields input{
		  height: 32px;
		  border: 1px solid #aaa;
		  border-radius: 5px;

		}

		.contact-text-fields input{ 
			text-indent: 32px;
		}

		.contact-text-fields textarea{
		  border: 1px solid #aaa;
		  border-radius: 5px;
		}

		.contact-text-fields textarea{ 
			text-indent: 32px;
		}

		.contact-text-fields .fa-user { 
		  position: absolute;
		  top: 30px;
		  left: 20px;
		  font-size:25px;
		}

		.contact-text-fields .fa-globe { 
		  position: absolute;
		  top: 102px;
		  left: 20px;
		  font-size:25px;
		}

		.contact-text-fields .fa-phone { 
		  position: absolute;
		  top: 175px;
		  left: 20px;
		  font-size:25px;
		}

		.contact-text-fields .fa-envelope { 
		  position: absolute;
		  top: 242px;
		  left: 20px;
		  font-size:25px;
		}

	}





@media (min-width:650px){

/* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */	
	
	header{

		img{
			width:450px;
		}
	}

	.navigation{

		margin-bottom: -72px;


		a{
			padding:0 30px 0 30px;
		}
	}

	#line{

		img{
			margin-bottom:-32px;
			width:55px;
		}
	}

/* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */

	.homepage-main{
	
		h1{
			text-align:center;
			font-family:$campton-bold;
			color:$primary-color;
			font-size:2.1em;
		}

	}

	.homepage-services{

		h2{
			font-size:1.3em;
			margin:0 0 0 -50px;
			width:500px;

		}
	}




/* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */

	.service-page-services{

		margin-left:10%;
		
		h3{
			font-family: $campton-bold;
			margin:30px 0 0 120px;
		}

		p{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			width:210px;
			margin:10px 0 0 120px;
		}

	}

	.services-packages{

	}

	.all-packages{
		display:inline-block;
		margin:50px 0 0 0;
	}

	#paid-package-1{

		h2{
			margin-top:0;
		}
	}
	#paid-package-2{

		h2{
			margin-top:0;
		}
	}
	#paid-package-3{

		h2{
			margin-top:0;
		}
	}

/* ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US 
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US     */

	.about-us-main{
	
		h1{
			text-align:center;
			font-family:$campton-bold;
			color:$primary-color;
			font-size:2.7em;
		}

		h2{
			font-size:1.3em;

		}

	}
/* CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	
   CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	
   CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	*/

.contact-main{

		width:90%;
		text-align:center;
		margin:0 auto;

		h1{

			font-family: $campton-bold;
			color:$primary-color;
			font-size:3em;
			margin: 140px 0 40px 0;
		}

		h2{
			font-size:1.1em;
			text-align:left;
			margin:13px 0 0 0;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
		}

		#message-gif{
			padding:0;
			width:400px;
			text-align:center;
		}

	}

	.contact-form{

		width:70%;
		text-align:center;
		margin:0 auto;


		h2{
			text-align:center;
			font-family:$campton-bold;
		}

		p{
			margin:5px;
			font-family:$campton-light;
			text-align:center;
		}

		input{
			width:110px;
			margin:15px 0 0 10px;
			font-family: $campton-light;
			float:left;
		}

		textarea{
			width:400px;
			margin:15px 0 0 10px;
			font-family: $campton-light;
			height:200px;

		}
		.contact-text-fields{
			position:relative;
		}

		.contact-text-fields .fa-user { 
		  position: absolute;
		  top: 30px;
		  left: 20px;
		  font-size:25px;
		}

		.contact-text-fields .fa-globe { 
		  position: absolute;
		  top: 30px;
		  left: 165px;
		  font-size:25px;
		}

		.contact-text-fields .fa-phone { 
		  position: absolute;
		  top: 30px;
		  left: 313px;
		  font-size:25px;
		}

		.contact-text-fields .fa-envelope { 
		  position: absolute;
		  top: 95px;
		  left: 20px;
		  font-size:25px;
		}
	}

}

@media (min-width:1100px){

/* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */	

	header{

		img{
			width:500px;
			margin:-30px 0 -30px 0;

		}

	}

	.navigation{

		margin-bottom: -71px;
		a{
			padding:0 50px 0 50px;
			text-decoration:none;
			color:black;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			font-size: 1em;
		}
	}

/* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */

	.homepage-main{
	
		h1{
			text-align:center;
			font-family: $campton-bold;
			color:$primary-color;
			font-size:2.5em;
			margin: 160px 100px 80px 100px;
		}

		h2{
		
		}

	}

	.homepage-services{
		margin-left:20%;
	}	


/* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */

   .services-main{

		h1{
			text-align:center;
			font-family: $campton-bold;
			color:$primary-color;
			font-size:3em;
			margin: 140px 0 30px 0;
		}

		h2{
			font-size:1.2em;
			text-align:center;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			padding: 0 5px 0 5px;

		}

	}

	.service-page-services{
		
		margin-left:16%;

		h3{
			font-family: $campton-bold;
			margin:30px 0 0 120px;
		}

		p{
			font-family: $campton-light, Arial, Helvetica, sans-serif;
			width:250px;
			margin:10px 0 0 120px;
		}

	}

	.services-packages{

	}


/* ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US 
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US     */

	.about-us-main{
	
		h1{
			text-align:center;
			font-family: $campton-bold;
			color:$primary-color;
			font-size:3.1em;
		}

		h2{
			font-size:1em;
			text-align:center;
		}

	}


/* CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	
   CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	
   CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	CONTACT	*/

	.contact-main{

		width:70%;
		text-align:center;
		margin:0 auto;

		h1{

			font-family: $campton-bold;
			color:$primary-color;
			font-size:3em;
			margin: 140px 0 40px 0;
		}

		h2{
			font-size:1.2em;
			text-align:left;
			margin:20px 0 0 25px;
			font-family: $campton-light, Arial, Helvetica, sans-serif;
		}

		#message-gif{
			width:400px;
			margin:0;
			padding:0;
		}
	}

	.contact-form{

		width:70%;
		text-align:center;
		margin:0 auto;


		h2{
			text-align:center;
			font-family:$campton-bold;
		}

		p{
			margin:5px;
			font-family:$campton-light;
			text-align:center;
		}

		input{
			width: 220px;
			margin:15px 0 0 10px;
			font-family: $campton-light;
		}

		textarea{
			width:731px;
			margin:15px 0 0 10px;
			font-family: $campton-light;
			height:200px;
		}

		.contact-text-fields .fa-user { 
		  position: absolute;
		  top: 30px;
		  left: 20px;
		  font-size:25px;
		}

		.contact-text-fields .fa-globe { 
		  position: absolute;
		  top: 30px;
		  left: 280px;
		  font-size:25px;
		}

		.contact-text-fields .fa-phone { 
		  position: absolute;
		  top: 30px;
		  left: 535px;
		  font-size:25px;
		}

		.contact-text-fields .fa-envelope { 
		  position: absolute;
		  top: 95px;
		  left: 20px;
		  font-size:25px;
		}
	}
}

@media (min-width:1500px){

/* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */

/* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */

/* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */

   .service-page-services{
		
		margin-left:25%;

	}

}