@font-face {
  font-family: 'camptonbold_demo';
  src: url("../fonts/campton/campton-bolddemo-webfont.eot");
  src: url("../fonts/campton/campton-bolddemo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/campton-bolddemo-webfont.woff2") format("woff2"), url("../fonts/campton/campton-bolddemo-webfont.woff") format("woff"), url("../fonts/campton/campton-bolddemo-webfont.ttf") format("truetype"), url("../fonts/campton/campton-bolddemo-webfont.svg#camptonbold_demo") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'camptonlight_demo';
  src: url("../fonts/campton/campton-lightdemo-webfont.eot");
  src: url("../fonts/campton/campton-lightdemo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/campton-lightdemo-webfont.woff2") format("woff2"), url("../fonts/campton/campton-lightdemo-webfont.woff") format("woff"), url("../fonts/campton/campton-lightdemo-webfont.ttf") format("truetype"), url("../fonts/campton/campton-lightdemo-webfont.svg#camptonlight_demo") format("svg");
  font-weight: normal;
  font-style: normal; }
/* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
   GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */
a {
  text-decoration: none; }

header {
  text-align: center; }
  header img {
    width: 400px;
    margin: -30px 0 -30px 0; }

body {
  background-color: white;
  position: relative; }

.navigation {
  text-align: center;
  position: relative;
  background: #fff;
  margin-bottom: -70px;
  z-index: 200; }
  .navigation a {
    padding: 0 8px 0 8px;
    text-decoration: none;
    color: black;
    font-family: "camptonlight_demo", Arial, Helvetica, sans-serif; }

#line {
  box-shadow: 0px 1px 1px #bfbfbf;
  margin-top: 10px; }
  #line img {
    margin-bottom: -31px;
    width: 50px; }

.header, .navigation-scrolled {
  position: fixed;
  width: 100%;
  top: 0; }

.line {
  border-bottom: 1px solid #eaeaea;
  width: 80%;
  margin: 50px auto; }

.footer {
  background-color: #f0f1f2; }
  .footer h2 {
    text-transform: uppercase;
    font-family: "camptonlight_demo";
    text-align: center;
    padding: 50px 0 0 0; }
  .footer span {
    font-family: "camptonbold_demo";
    color: black;
    text-decoration: none; }
  .footer p {
    font-family: "camptonlight_demo";
    text-align: center; }
  .footer img {
    width: 35px;
    display: inline-block;
    margin: 0 0 30px 10px; }

.footer-social {
  text-align: center; }

.copyright {
  background-color: #1b153e;
  height: 30px; }
  .copyright p {
    color: white;
    font-size: .8em;
    padding: 10px 0 0 10px;
    text-align: left; }
  .copyright span {
    font-family: 'arial';
    color: white; }

/* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
   HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */
.homepage-main h1 {
  text-align: center;
  font-family: "camptonbold_demo";
  color: #483d8b;
  font-size: 1.8em;
  margin: 160px 0 80px 0; }
.homepage-main h2 {
  font-size: 1em;
  text-align: center; }

.homepage-services {
  width: 70%;
  margin: 0 auto; }
  .homepage-services img {
    width: 100px;
    margin-left: 50%; }
  .homepage-services p {
    text-align: center;
    margin: 20px 0 0 55px;
    width: 100%; }
  .homepage-services :hover {
    text-decoration: underline; }

/* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
   SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */
.services-main h1 {
  text-align: center;
  font-family: "camptonbold_demo";
  color: #483d8b;
  font-size: 3em;
  margin: 140px 0 30px 0; }
.services-main h2 {
  font-size: 1.2em;
  text-align: center;
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  padding: 0 5px 0 5px; }

.service-page-services h3 {
  font-family: "camptonbold_demo";
  margin: 30px 0 0 120px; }
.service-page-services p {
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  width: 250px;
  margin: 10px 0 0 120px; }
.service-page-services img {
  width: 100px;
  float: left;
  margin: 30px 0 0 10px; }

.services-packages {
  margin: 40px 0 0 0;
  text-align: center;
  position: relative; }

.package-title h2 {
  font-size: 2em;
  font-family: "camptonbold_demo";
  color: #483d8b;
  margin: 50px 0 0 0; }
.package-title h3 {
  font-family: "camptonlight_demo"; }

.all-packages {
  position: relative;
  height: 400px;
  width: 250px;
  margin: 50px 0 0 15%;
  background-color: #f0f1f2;
  z-index: 100; }

#paid-package-1 img {
  width: 60px;
  position: absolute;
  top: -30px;
  left: 95px; }
#paid-package-1 h2 {
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: #7495d7;
  height: 50px;
  padding: 40px 0 0 0;
  color: white; }
#paid-package-1 p {
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  padding: 0 15px 0 15px; }

#paid-package-2 img {
  width: 60px;
  position: absolute;
  top: -30px;
  left: 95px; }
#paid-package-2 h2 {
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: #483d8b;
  height: 50px;
  padding: 40px 0 0 0;
  color: white; }
#paid-package-2 p {
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  padding: 0 15px 0 15px; }

#paid-package-3 img {
  width: 60px;
  position: absolute;
  top: -30px;
  left: 95px; }
#paid-package-3 h2 {
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: #1b153e;
  height: 50px;
  padding: 40px 0 0 0;
  color: white; }
#paid-package-3 p {
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
  padding: 0 15px 0 15px; }

/* ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US 
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US
   ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US     */
.about-us-main h1 {
  text-align: center;
  font-family: "camptonbold_demo";
  color: #483d8b;
  font-size: 2.2em;
  margin: 160px 0 40px 0; }
.about-us-main h2 {
  font-size: 1em;
  text-align: center;
  font-family: "camptonlight_demo", Arial, Helvetica, sans-serif; }

.about-us-body {
  text-align: Center; }
  .about-us-body h2 {
    font-size: 1em;
    text-align: center;
    font-family: "camptonlight_demo", Arial, Helvetica, sans-serif; }

@media (min-width: 650px) {
  /* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
     GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
     GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */
  header img {
    width: 450px; }

  .navigation {
    margin-bottom: -72px; }
    .navigation a {
      padding: 0 30px 0 30px; }

  #line img {
    margin-bottom: -32px;
    width: 55px; }

  /* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
     HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
     HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */
  .homepage-main h1 {
    text-align: center;
    font-family: "camptonbold_demo";
    color: #483d8b;
    font-size: 2.1em; }
  .homepage-main h2 {
    font-size: 1.3em; }

  /* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
     SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
     SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */
  .service-page-services {
    margin-left: 10%; }
    .service-page-services h3 {
      font-family: "camptonbold_demo";
      margin: 30px 0 0 120px; }
    .service-page-services p {
      font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
      width: 210px;
      margin: 10px 0 0 120px; }

  .all-packages {
    display: inline-block;
    margin: 50px 0 0 0; }

  #paid-package-1 h2 {
    margin-top: 0; }

  #paid-package-2 h2 {
    margin-top: 0; }

  #paid-package-3 h2 {
    margin-top: 0; }

  /* ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US 
     ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US
     ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US     */
  .about-us-main h1 {
    text-align: center;
    font-family: "camptonbold_demo";
    color: #483d8b;
    font-size: 2.7em; }
  .about-us-main h2 {
    font-size: 1.3em; } }
@media (min-width: 1100px) {
  /* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
     GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
     GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */
  header img {
    width: 500px;
    margin: -30px 0 -30px 0; }

  .navigation {
    margin-bottom: -71px; }
    .navigation a {
      padding: 0 50px 0 50px;
      text-decoration: none;
      color: black;
      font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
      font-size: 1em; }

  /* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
     HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
     HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */
  .homepage-main h1 {
    text-align: center;
    font-family: "camptonbold_demo";
    color: #483d8b;
    font-size: 2.5em;
    margin: 160px 100px 80px 100px; }

  .homepage-services {
    margin-left: 20%; }

  /* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
     SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
     SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */
  .services-main h1 {
    text-align: center;
    font-family: "camptonbold_demo";
    color: #483d8b;
    font-size: 3em;
    margin: 140px 0 30px 0; }
  .services-main h2 {
    font-size: 1.2em;
    text-align: center;
    font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
    padding: 0 5px 0 5px; }

  .service-page-services {
    margin-left: 16%; }
    .service-page-services h3 {
      font-family: "camptonbold_demo";
      margin: 30px 0 0 120px; }
    .service-page-services p {
      font-family: "camptonlight_demo", Arial, Helvetica, sans-serif;
      width: 250px;
      margin: 10px 0 0 120px; }

  /* ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US 
     ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US
     ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US  ABOUT US     */
  .about-us-main h1 {
    text-align: center;
    font-family: "camptonbold_demo";
    color: #483d8b;
    font-size: 3.1em;
    margin: 160px 100px 80px 100px; }
  .about-us-main h2 {
    font-size: 1em;
    text-align: center; } }
@media (min-width: 1500px) {
  /* GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
     GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  
     GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  GLOBAL  */
  /* HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
     HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  
     HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  HOMEPAGE  */
  /* SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
     SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  
     SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  SERVICES  */
  .service-page-services {
    margin-left: 25%; } }

/*# sourceMappingURL=style.css.map */
